{{#if thankyou}}
  <div class="thankyou">
    <p>
      You're awesome, thank you for supporting!
    </p>
  </div>
{{/if}}

{{#host}}
  <section class="host-info" style='background: linear-gradient(rgba(75, 75, 75, 0.6), rgba(0, 0, 0, 0.6)),url({{image}});  background-color: black;'>
      <section class="content">
        <p>
          Current Auction Host:
        </p>
        <h2>{{name}}</h2>
        <a target='_blank' href={{website}}>{{website}}</a>
        <p>
          {{description}}
        </p>
      </section>
  </section>
{{/host}}

<form action="/addauction" method="get">
  <input type="submit" value="Add a Bachelor(ette) for Auction!">
</form>

<section class="all-auctions">
  {{#each auctions}}
    <a href="/{{this._id}}"><section class="auction">
      <div class="profile-image" style="background-image: url({{this.photo}});"></div>
      <section class="content">
        <h2>{{this.firstname}}</h2>
        <p class="tagline">
          {{this.tagline}}
        </p>
      </section>
    </section></a>
  {{/each}}
</section>
