{{#auctions}}
  <section class="show">
    <div class="profile-image preview" style="background-image: url({{this.photo}});"></div>
    <section class="content">
      <h2>{{firstname}}</h2>
      <p class="tagline">
        {{tagline}}
      </p>
      <h3>About Me</h3>
      <p>
        {{bio}}
      </p>
      <h3>Auction Reward</h3>
      <p>
        {{reward}}
      </p>
      <h3 class="currentbid">Current Bid: ${{currentbid}}</h3>
      <form action="/{{_id}}/buy" class="buy" method="get">
        <input type="submit" value="Buy this Auction!">
      </form>
    </section>
  </section>
{{/auctions}}
